.sms-tab_bubble {
  opacity: 0;
}

.sms_popup {
  display: none;
  opacity: 0;
}

#source-2:-webkit-autofill,
#source-2:-webkit-autofill:hover,
#source-2:-webkit-autofill:focus,
#source-2:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

#source-2:focus {
  outline: none;
}
